# Virtual environments
venv*/
.env/
env/
.venv/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Temporary directories
.temp_venv/
.pip_tmp/
.tmp/
.ipynb_checkpoints/

# Data and Cache
data/cache/
data/cache_full/
*.parquet

# IDEs
.idea/
.vscode/

# Legacy
old_files/

# Large binaries / results
results/*/rq*.json
*.log
archive/
data/
models/
catboost_info/
goodpoints-0.4.2/
